{% extends 'base.html' %}
{% block title %} Search {% endblock %}

{% block content %}
 <div class="container">
 <div class="row  mb-3">
     {% if request.GET.q %}
    <div class="col-12">
        <p>Showing results for <em>{{ request.GET.q }}</em> </p>
    </div>
    <hr style="background-color: black">
         {% else %}
         <div class="col-12 col-md-6 mx-auto py-5 ">
            {% include 'search/snippets/search-form.html' %}
{#         <button type="submit" class="btn btn-secondary">Search</button>#}
         </div>
         <div class="col-12"><hr style="background-color: black"></div>
    {% endif %}
 </div>
    <div class="row text-center">


        {% for obj in object_list %}
            <div class="col">
                {% include 'products/snippets/card.html' with instance=obj %}
            {% if forloop.counter|divisibleby:3 %}
            </div></div><div class="row"><div class="col-sm-12"><hr
                style="background-color: black"></div>
            {% else %}
            </div>
            {% endif %}
    {% endfor %}
    </div>

{% endblock %}